<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="padre">
        <header class="header">
            <article class="menu">
                <div class="logo">Logo</div>
                <div class="nav">Nav</div>
                <div class="sociales">Sociales</div>
            </article>
            <article class="texto-principal">
                <h1>Título</h1>
            </article>
        </header>
        <section class="section01">
            <div class="articles">
                <article class="article">Artículo1</article>
                <article class="article">Artículo2</article>
                <article class="article">Artículo3</article>
                <article class="article">Artículo4</article>
                <nav class="navegacion">Lista</nav>
            </div>
            <aside class="publicidades">
                <div class="publicidad">Publicidad1</div>
                <div class="publicidad">Publicidad2</div>
            </aside>
        </section>
        <footer>
            <div class="footer">Footer</div>
        </footer>
    </div>
</body>
</html>